body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    width: 400px;
    margin-top: 150px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    align-items: center;
    background-color: antiquewhite;
}

.head {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-size: 30px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.rock, .paper, .scissor, .reset-score-btn {
    padding: 6px 12px;
    color: white;
    background-color: #4bbc3e;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(101, 120, 100, 0.342)
}

.rock:active, .paper:active, .scissors:active, .reset-score-btn:active {
    opacity: 0.5;
}

.score-container {
    display: flex;
    justify-content: space-around;
}

.referee {
    background-color: #a87ad4bc;
    padding-left: 30px;
    margin: none;
    border-radius: 6px;
    color: white;
    box-shadow: 3px 3px 5px rgba(179, 89, 231, 0.332);
}

.referee p {
    font-weight: bold;
    font-family: 'Comic Sans MS';
}

.winners, .losses, .ties {
    color: white;
    background-color: rgba(155, 99, 192, 0.621);
    border-radius: 8px;
    padding: 7px 14px;
    box-shadow: 3px 3px 3px rgba(149, 78, 241, 0.3);
}