body {
    font-family: Arial;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.subs {
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    background-color: #000000;
    color: white;
}

.is-subscribe {
    background-color: rgb(240, 240, 240);
    color: black;
}

#text {
    padding: 10px 16px;
    font-size: 15px;
}

.calculate {
    background-color: green;
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 15px;
}