body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    width: 400px;
    margin-top: 50px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    align-items: center;
    background-color: antiquewhite;
}

.head {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-family: 'Comic Sans MS';
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.rock, .paper, .scissor {
    background-color: antiquewhite;
    border: 3px dashed white;
    padding: 20px;
    font-size: 16px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(101, 120, 100, 0.342);
    transition: 0.2s;
}

.reset-score-btn, .autoPlayBtn {
    background-color: #4ebc73bc;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(101, 120, 100, 0.342);
    font-weight: bold;
    transition: 0.17s;
}

.rock:active, .paper:active, .scissor:active, .reset-score-btn:active, .autoPlayBtn:active {
    box-shadow: none;
    opacity: 0.3;
}

.score-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.referee {
    background-color: #a87ad4bc;
    padding-left: 30px;
    margin: none;
    border-radius: 6px;
    color: white;
    box-shadow: 3px 3px 5px rgba(179, 89, 231, 0.332);
}

.referee p {
    font-weight: bold;
    font-family: 'Comic Sans MS';
}

.winners, .losses, .ties {
    color: white;
    background-color: rgba(155, 99, 192, 0.621);
    border-radius: 8px;
    padding: 7px 14px;
    box-shadow: 3px 3px 3px rgba(149, 78, 241, 0.3);
}

.reset-score-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse
}