body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cent-container {
    display: flex;
    justify-content: center;
    background-color: #9430e172;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 540px;
    margin: auto;
    margin-top: 100px;
}

.title-container h3 {
    text-align: center;
    font-size: 25px;
}

.add-container {
    display: grid;
    grid-template-columns: 1fr 50px;
    box-shadow: 4px 4px 4px rgba(135, 69, 233, 0.342);
    border-radius: 8px;
}

.add-container #text {
    padding: 10px;
    font-size: 20px;
    border: 1px solid gray;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.add-container .add-task {
    background-color: rgb(79, 140, 231);
    color: white;
    border: 1px solid gray;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    transition: 0.2s;
}

.add-container .add-task:hover {
    color: black;
}

.add-container .add-task:active {
    opacity: 0.3;
}

.task-container{
    background-color: #8dedbf;
    width: 300px;
    height: 320px;
    border-radius: 10px;
    margin: none;
    margin-top: 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.task-container .task-added {
    background-color: pink;
    width: 270px;
    height: 25px;
    margin-bottom: 10px;
    padding: 15px;
    font-family: 'Comic Sans MS';
    display: grid;
    grid-template-columns: 1fr 35px;
}

.task-added p, .task-added button{
    margin: 0;
}

.task-added button {
    background-color: red;
    border: none;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    transition: box-shadow 0.3s;
}

.task-added button:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.task-added button:active {
    box-shadow: none;
    transform: translate(3px 3px);
}